#!/bin/bash

######################
# Database constants #
######################

# Share
BACKUPS_DESTINATIONS_DB=({% for host in groups['webservers'] %}{{host}} {% endfor %})

# Base de données
DATABASE_NAMES=({% for schema in mysql.database.schemas %}{{mysql.database.schemas_prefix}}{{schema}} {% endfor %})
DATABASE_USER={{mysql.database.root_login}}
DATABASE_PASSWORD='{{root_password}}'
DATABASE_PORT={{ports.mysql}}
DATABASE_DUMPNAME=save`date +"%Y%m%d"`
