#!/bin/bash

#################
# Web constants #
#################

# Share
BACKUPS_DESTINATIONS_WEB=({% for host in groups['dbservers'] %}{{host}} {% endfor %})

# Application
APP_PATH={{app.path}}
# GIT data
GIT_REPOSITORY={{project.repository.version}}
