---

# This is the smtp stage env specific configuration file
# Feel free to change options after removing the .dist extension
# It overrides vars/all, vars/db, vars/web, vars/backup, vars/smtp and vars/stage

precedence:
  30: stage_mail
