---
# This is the staging env specific configuration file
# Feel free to change options after removing the .dist extension
# It overrides vars/all, vars/db, vars/web, vars/backup and vars/smtp

precedence:
  20: stage
