---

# This is the web stage env specific configuration file
# Feel free to change options
# It overrides vars/all, vars/db, vars/web, vars/backup, vars/smtp and vars/stage

precedence:
  33: stage_web
