# Ignore backup files
*.bak
*.php~
*.ini~
*.tpl~
*.html~
*.md~
*.txt~
*.twig~
*.sh~
*.yml~

# Ignore junk files
[Tt]humbs.db
.DS_Store

# Ignore netbeans file
nbproject/

# Ignore config files
inventory/servers
group_vars/*
!group_vars/*.dist
roles/*/vars/*.yml
!roles/*/vars/*.yml.dist
roles/db/files/*
!roles/db/files/*.dist
files/sshkeys/*.pub
!files/sshkeys/*.pub.dist
