#!/bin/bash

##################################################
# Script - Synchronize backup directories script #
##################################################

# Initialisation
CURRENT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source $CURRENT_DIR'/init.sh'
source $CURRENT_DIR'/globalConstants.sh'
echo -e "\n\e[0;35m### Synchronize backup directories - `date`\e[0m"

# Sync on backup servers
BACKUP_DESTINATIONS=$(echo $BACKUP_DESTINATIONS | tr ' ' '\n' | sort -nu)
for backupsDestination in ${BACKUP_DESTINATIONS[*]}; do
	echo -e "\e[0;35m### Synchronising datas on $backupsDestination… \e[0m"
	rsync --omit-dir-times -azv -u -P --exclude "*~" -e "ssh -o StrictHostKeyChecking=no -p $SSH_PORT" "$BACKUP_PATH" $BACKUP_USER@$backupsDestination:"$BACKUP_PATH"
	echo -e "\e[0;35m### done\e[0m"
done

exit 0