table filter {
    chain INPUT {
        # Prevent all input connection by default
        policy DROP;

        # Don't break established connections
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        # Authorize local
        interface lo ACCEPT;

        # Authorize ping - 1 per second max
        proto icmp mod limit limit 1/second ACCEPT;

        {% if ssh.enabled %}
            # Authorize SSH
            proto tcp dport {{ ssh.port }} ACCEPT;
        {% endif %}

        {% if git.enabled %}
            # Authorize GIT
            proto tcp dport 9418 ACCEPT;
        {% endif %}

        {% if apache.enabled and inventory_hostname in groups['web'] %}
            # Authorize  HTTP & HTTPS
            proto tcp dport (http https) ACCEPT;

            {% if adminer.enabled %}
                # Authorize alternative HTTP
                proto tcp dport {{ adminer.port }} ACCEPT;
            {% endif %}
        {% endif %}

        {% if mariadb.enabled %}

            {% if inventory_hostname in groups['db'] %}
                # MariaDB - Accept requests from web and db servers
                {% for host in groups['web'] %}
                    proto tcp dport {{ mariadb.port }} saddr {{ host }} ACCEPT;
                {% endfor %}
                {% for host in groups['db'] %}
                    proto tcp dport {{ mariadb.port }} saddr {{ host }} ACCEPT;
                {% endfor %}
            {% endif %}

        {% endif %}

        # Protection against SMURF attacks
        proto icmp icmp-type address-mask-request DROP;
        proto icmp icmp-type timestamp-request DROP;
        proto tcp tcp-flags RST RST mod limit limit 2/second limit-burst 2 ACCEPT;

        # Unauthorized spoofing packets
        saddr 10.0.0.0/8 DROP;
        saddr 169.254.0.0/16 DROP;
        saddr 172.16.0.0/12 DROP;
        saddr 127.0.0.0/8 DROP;
        saddr 192.168.0.0/24 DROP;
        saddr 224.0.0.0/4 DROP;
        daddr 224.0.0.0/4 DROP;
        saddr 240.0.0.0/5 DROP;
        daddr 240.0.0.0/5 DROP;
        saddr 0.0.0.0/8 DROP;
        daddr 0.0.0.0/8 DROP;
        daddr 239.255.255.0/24 DROP;
        daddr 255.255.255.255 DROP;
    }
    chain OUTPUT {
        policy DROP;

        # Don't break established connections
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;

        # Authorize local
        outerface lo ACCEPT;

        # Authorize ping
        proto icmp ACCEPT;

        # Authorize NTP
        proto tcp dport 123 ACCEPT;

        # Authorize DNS
        proto (tcp udp) dport 53 ACCEPT;

        {% if ssh.enabled %}
            # Authorize SSH
            proto tcp dport {{ ssh.port }} ACCEPT;
        {% endif %}

        {% if git.enabled %}
            # Authorize GIT
            proto tcp dport 9418 ACCEPT;
        {% endif %}

        {% if smtp.enabled %}
            # Authorize SMTP
            {% for host in groups['mail'] %}
                proto tcp dport {{ smtp.port }} daddr {{ host }} ACCEPT;
            {% endfor %}
        {% endif %}

        {% if postfix.enabled %}
            # Authorize SMTP out
            proto tcp dport {{ smtp.port }} ACCEPT;
        {% endif %}

        # Authorize  HTTP & HTTPS - Needed for package manager
        proto tcp dport (http https) ACCEPT;

        {% if apache.enabled %}
            {% if adminer.enabled %}
                # Authorize for adminer
                proto tcp dport {{ adminer.port }} ACCEPT;
            {% endif %}
        {% endif %}

        {% if mariadb.enabled %}

            {% if inventory_hostname in groups['db'] %}
                # MariaDB - Server DB
                {% for host in groups['web'] %}
                    proto tcp dport {{ mariadb.port }} daddr {{ host }} ACCEPT;
                {% endfor %}
            {% endif %}

            {% if inventory_hostname in groups['web'] %}
                # MariaDB - Server WEB
                {% for host in groups['db'] %}
                    proto tcp dport {{ mariadb.port }} daddr {{ host }} ACCEPT;
                {% endfor %}
            {% endif %}

        {% endif %}

        {% if php.xdebug.enabled %}
            # Authorize xDebug
            proto tcp dport {{ php.xdebug.options['xdebug.remote_port'] }} daddr {{ php.xdebug.options['xdebug.remote_host'] }} ACCEPT;
        {% endif %}
    }
    chain FORWARD {
        policy DROP;
    }
}
