---

# This is the global configuration file with ALL options, for every kind of server
# Feel free to change options after removing the .dist extension
# Edit server purpose config files (./web, ./db, ./mail, ./backup), or environment config files (./local, ./stage, ./prod)

precedence:
  0: all
