{% if ssl.enabled and ssl.force %}
# Force SSL
<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} !on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</VirtualHost>
{% endif %}

##
# Default action 404
##
<VirtualHost *:{% if ssl.enabled %}443{% else %}80{% endif %}{% if ssl.enabled and not ssl.force %} *:80{% endif %}>
    {% if ssl.enabled %}
    SSLEngine On
    SSLCertificateFile /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key
    {% if not item.autosigned %}
    SSLCertificateChainFile /etc/ssl/certs/{{ item.short_name }}.cabundle
    {% endif %}
    {% endif %}

    ServerName default
    Redirect 404 /
</VirtualHost>

###
# {{ item.name }} vhost
##
<VirtualHost *:{% if ssl.enabled %}443{% else %}80{% endif %}{% if ssl.enabled and not ssl.force %} *:80{% endif %}>
    {% if ssl.enabled %}

    SSLEngine On
    SSLCertificateFile /etc/ssl/certs/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{% if item.autosigned %}autosigned.{% endif %}{{ item.short_name }}.key
    {% if not item.autosigned %}
    SSLCertificateChainFile /etc/ssl/certs/{{ item.short_name }}.cabundle
    {% endif %}
    SSLOptions +StrictRequire
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
    SSLHonorCipherOrder on
    SSLCompression off
    SSLVerifyClient none
    SSLProxyEngine off

    AddType application/x-x509-ca-cert      .crt
    AddType application/x-pkcs7-crl         .crl

    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0
    {% endif %}

    Header add Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header set Content-Security-Policy "default-src 'self' 'unsafe-inline'; img-src data: 'self' 'unsafe-inline' {{ (item.security.allow.img | join(" ")) if item.security.allow.img.0 != None else '' }}; script-src 'self' 'unsafe-inline' 'unsafe-eval' {{ (item.security.allow.script | join(" ")) if item.security.allow.script.0 != None else '' }}; font-src 'self' 'unsafe-inline' {{ (item.security.allow.font | join(" ")) if item.security.allow.font.0 != None else '' }}; style-src 'self' 'unsafe-inline' {{ (item.security.allow.style | join(" ")) if item.security.allow.style.0 != None else '' }};"

    ServerAdmin {{ item.email }}
    DocumentRoot "{{ item.path }}{{ item.webdir }}"

    ServerName {{ item.url }}
    ServerAlias {{ item.alias }}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.short_name }}.error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.short_name }}.access.log common

    <Directory "{{ item.path }}{{ item.webdir }}">
        Options -Indexes +FollowSymLinks +Includes
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
