---

# This is the local env specific configuration file
# Feel free to change options after removing the .dist extension
# It overrides vars/all, vars/db, vars/web, vars/backup and vars/mail

precedence:
  20: local
