---

# This is the db local env specific configuration file
# Feel free to change options after removing the .dist extension
# It overrides vars/all, vars/db, vars/web, vars/backup, vars/mail and vars/local

precedence:
  32: local_db
