---
mysql:
  config:
    total_ram: 1500 # Megabytes
    total_cpu_core: 8
    max_connections: 600
    max_connect_errors: 100000
    sort_buffer_size: 2M
    table_open_cache: 400
    query_cache_limit: 2M
    query_cache_size: 512M
    innodb_log_buffer_size: 4M
    innodb_buffer_pool_instances: 2

  database:
    root_login: "{{app.short_name}}_root"
    login: "{{app.short_name}}_account"
    schemas_prefix: "{{app.short_name}}_"
    schemas:
      - prod