---
- include: check.yml tags=always

- include: mariadb.yml tags=mariadb
  when: mariadb.enabled

- include: scripts.yml tags=scripts
  when: script.enabled

- include: backup.yml tags=backup
  when: backup.enabled
