#!/bin/bash

###
# {{ item.name }} constants
###

APP_NAME={{ item.name }}
APP_SHORT_NAME={{ item.short_name }}
APP_EMAIL={{ item.email }}
APP_PATH={{ item.path }}
APP_WEBDIR={{ item.webdir }}
APP_GIT={{ item.gitrepo }}
APP_URL={{ item.url }}
