#!/bin/bash

#############
# Constants #
#############

# Script
SCRIPT_LOGPATH={{app.scripts.log_path}}

# Save
BACKUPS_PATH={{shared.path}}
BACKUPS_PERMISSION={{shared.permission}}
BACKUPS_GROUP={{shared.group}}
BACKUPS_USER={{shared.user}}
BACKUPS_PORT={{ports.ssh}}

# Share
SHARE_PATH={{shared.path}}

# Ports
SSH_PORT={{ports.ssh}}
