---
project:
  server:
    application:
      name: local.{{app.url}}
      alias: local.{{app.url}}
    database:
      name: local.db.{{app.url}}
      alias: local.db.{{app.url}}
      path: /usr/share/adminer/adminer/
    log_php: /var/log/php5/
    admin: support@{{app.url}}
  repository:
    url: https://'{{github_account}}':'{{github_password}}'@github.com/Company/Project.git
    version: branch

# Here you can set the content security policy of your local servers
security:
  allow:
    script:
      -
    style:
      -
    img:
      -
    font:
      -
