---
project:
  server:
    application:
      name: preprod.{{app.url}}
      alias: preprod.{{app.url}}
    database:
      name: preprod.db.{{app.url}}
      alias: preprod.db.{{app.url}}
      path: /usr/share/adminer/adminer/
    log_php: /var/log/php5/
    admin: support@{{app.url}}
  repository:
    url: https://'{{github_account}}':'{{github_password}}'@github.com/Company/Project.git
    version: branch

# Here you can set the content security policy of your preprod server
security:
  allow:
    script:
      -
    style:
      -
    img:
      -
    font:
      -
