# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Display MotD - only on tty
if [ "$SSH_TTY" ]
then
    dynmotd
fi

# Set default editor to vim
EDITOR=vim
VISUAL=$EDITOR
export EDITOR VISUAL

# Alias
alias ls='ls --color=auto'
alias ll='ls --color=auto -laht'
alias grep='grep --color=auto'

# Shell coloration
PS1='\e[32m\u\e[0m@\h \e[31m[{{env}}]\e[0m: \e[37;1m\W\e[0m\$ '

cd /var/