# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# Autocompletion
autoload -U compinit promptinit colors
compinit
promptinit

# This will set the default prompt to the walters theme
prompt walters
alias ls='ls --color=auto'
alias ll='ls -lath --color=auto'
alias grep='grep --color=auto'

export XTERM="xterm-256color"
export EDITOR="vim"
VISUAL=$EDITOR
export EDITOR VISUAL

# Display MotD
dynmotd

# Shell
autoload -U colors && colors
PROMPT="%{$fg[green]%}%n%{$reset_color%}@%m %{$fg[red]%}[{{env}}]%{$reset_color%} %{$fg_bold[white]%}%1~ %{$reset_color%}%# "
RPROMPT="[%{$fg_no_bold[magenta]%}%?%{$reset_color%}]"

cd /var/