# Lancement des tests SMART
# Un test léger une fois par semaine, à 3h pour le premier, 4h pour l'autre
# Un test complet une fois par mois, à 4h pour le premier, 5h pour l'autre
/dev/sda -a -d ata -m {{email.monitoring}} -H -l error -l selftest -M test -o on -S on -s (S/../../3/03|L/../15/./04)
/dev/sdb -a -d ata -m {{email.monitoring}} -H -l error -l selftest -o on -S on -s (S/../../3/04|L/../15/./05)