# Launch SMART tests
# A light one, 3AM for the first, 4AM for the others
# A complete test, 4AM for the first, 5AM for the others
/dev/sda -a -d ata -m {{ smartd.email }} -H -l error -l selftest -M test -o on -S on -s (S/../../3/03|L/../15/./04)
/dev/sdb -a -d ata -m {{ smartd.email }} -H -l error -l selftest -o on -S on -s (S/../../3/04|L/../15/./05)