[client]
port = {{ports.mysql}} # default: 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld]
port = {{ports.mysql}} # default: 3306
max_connections = {{ mysql.config.max_connections }} # default: 100
max_connect_errors = {{ mysql.config.max_connect_errors }} # default: 10 - Advise: Choose a very high value
sort_buffer_size = {{ mysql.config.sort_buffer_size }} # default: 4M

table_open_cache = {{ mysql.config.table_open_cache }} # default: 400 - Advise: number of database table, multiplied by 10

query_cache_limit = {{ mysql.config.query_cache_limit }} # default: 128K - Maximum cache for a single request
query_cache_size = {{ mysql.config.query_cache_size }} # default: 64M - Advise: Request cache - can be high if the server got a lot of RAM

thread_concurrency = {{ mysql.config.total_cpu_core * 2 }} # Choose twice the number of CPU

innodb_buffer_pool_size = {{ (mysql.config.total_ram * 80 / 100)|round|int }}M # default: 256M
innodb_log_buffer_size = {{ mysql.config.innodb_log_buffer_size }} # default: 8M
innodb_buffer_pool_instances = {{ mysql.config.innodb_buffer_pool_instances }} # default: 1 - Advice: Share RAM in multiple instances

collation-server = utf8_general_ci
character-set-server = utf8

